---
import { Image } from "astro:assets";
import { styles } from "../assets/scripts/styles.js";
import { navLinks } from "../constants/index.js";
import { logo, menu } from "../../public/assets/index.js";

---
<script>
    // Ensure this script runs in the browser
    if (typeof window !== 'undefined') {
      console.log("Navbar component is hydrated");

      const navBar = document.querySelector('nav');
      window.addEventListener('scroll', () => {
        const scrollTop = window.scrollY;
        console.log("Scroll position: ", scrollTop);

        if (scrollTop > 100) {
          navBar?.classList.add('scrolled');
          navBar?.classList.add('bg-primary')
        } else {
          navBar?.classList.remove('scrolled');
          navBar?.classList.remove('bg-primary');
          navBar?.classList.add('bg-transparent');
        }
      });
    }
  </script>

<nav class={`${styles.paddingX} w-full flex items-center py-4 fixed top-0 z-20`}>
  <div class="w-full flex justify-between items-center max-w-7xl mx-auto">
    <a href="/" class="flex items-center gap-2">
      <Image src={logo} alt="logo" class="w-9 h-9 object-contain" />
      <p class="text-white text-[18px] font-bold cursor-pointer flex">
        Bergan &nbsp;
        <span class="sm:block hidden"> | Software Developer</span>
      </p>
    </a>

    <ul class="list-none hidden sm:flex flex-row gap-10">
      {navLinks.map((nav) => (
        <li class={`text-secondary hover:text-white text-[18px] font-medium cursor-pointer`}>
          <a href={`#${nav.id}`}>{nav.title}</a>
        </li>
      ))}
    </ul>

    <div class="sm:hidden flex flex-1 justify-end items-center">
      <Image
        src={menu}
        alt="menu"
        class="w-[28px] h-[28px] object-contain cursor-pointer"
        id="menu-icon"
      />

      <div
        id="mobile-menu"
        class="hidden p-6 black-gradient absolute top-20 right-0 mx-4 my-2 min-w-[140px] z-10 rounded-xl"
      >
        <ul class="list-none flex justify-end items-start flex-1 flex-col gap-4">
          {navLinks.map((nav) => (
            <li class="font-poppins font-medium cursor-pointer text-[16px] text-secondary hover:text-white">
              <a href={`#${nav.id}`}>{nav.title}</a>
            </li>
          ))}
        </ul>
      </div>
    </div>
  </div>
</nav>

<style>
  nav.scrolled {
    background-color: var(--primary-color); /* Replace with your color variable */
  }
</style>
